<div>
    <div id="newItem">
        <input type="text" placeholder="item's Name" id="itemName">
        <input type="text" placeholder="item's Value" id="itemValue">
        <button id="newItemButton">New Item</button>
     </div>
    <div>
        <table>
        <% models.map( ( { attributes: { title, completed} }) => { %>
            <tr>
                <td><h6><%= title %></h6></td>
                <td><h6><%= completed %></h6></td>
            </tr>
        <% })%>
        </table>
    </div>
    <button id="saveButton">Save</button>
</div>