<div class="person-container">
  <% persons.forEach(person => { %>
  <div class="person-item-container">
      <div><%= person.name%></div>
      <div><%= person.lastName %></div>
      <div><%= person.age %></div>
  </div>
  <% }); %>
</div>
