<div class="person-container">
  <!-- <% people.forEach(person => { %>
  <div class="person-item-container">
      <div><%= person.name%></div>
      <div><%= person.lastName %></div>
      <div><%= person.age %></div>
  </div>
  <% }); %> -->
</div>
